ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  display: flex;
  padding: 0.2rem;
  border-radius: 2px;
  box-sizing: border-box;
}

ul li:hover {
}

button {
  line-height: 25px;
}

.card-body {
  padding: 0.25rem;
}

.card {
  font-size: 13px;
  color: white;
}

.snack-bar {
  border-radius: 15px;
  background-color: #c3c3c3;
  margin: 0.3rem;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  cursor: pointer;
}
