mat-toolbar a {
  color: #ffff;
  font-size: medium;
  cursor: pointer;
  text-decoration: none;
  padding: 24px 24px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

li {
  display: table-cell;
}

nav ul li a:hover {
  border-bottom: 2px solid white;
}
