mat-toolbar a {
  color: #ffff;
  font-size: medium;
  cursor: pointer;
  text-decoration: none;
  padding: 8px 12px;
}

mat-toolbar a:hover {
  border-bottom: 2px solid white;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: 50px !important;
}

mat-icon {
  vertical-align: text-bottom;
  width: 30px;
}

* {
  text-shadow: 2px 2px 4px #000000;
}
