.sidenav-container {
  height: 94%;
}

.sidenav {
  width: 15rem;
  height: 90vh;
  margin-left: 0.5rem;
}

#sub-menu a:hover {
  color: #ff0018;
}

#sub-menu a.active {
  color: #ff0018;
}

mat-icon {
  font-size: 1rem;
}

.mat-list-icon {
  font-size: 1rem !important;
}

.mat-drawer {
  background-color: #303030;
}

.mat-drawer-container {
  background-color: #424242;
}

* {
  text-shadow: 2px 2px 4px #000000;
}

@media(max-width: 1300px) {
  mat-sidenav {
    display: none
  }
}
