<form>
<mat-form-field class="col-md-12" style="padding: 0 5px">
    <mat-label for="search"> looking for ?</mat-label>
    <input
      matInput
      type="text"
      id="search"
      name="search"
      [matAutocomplete]="auto"
      [formControl]="searchCtrl"
    >
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredSearch | async"
        [value]="option.keyword"
        (click)="onSelect(option.id)">
        {{option.keyword}}
      </mat-option>
    </mat-autocomplete>
    <mat-icon
      matSuffix
      mat-icon-button
      aria-label="Clear"
      style="font-size: 100%; cursor: pointer;"
      *ngIf="searchCtrl.value"
      (click)="onClearSearch()">close</mat-icon>
  </mat-form-field>
</form>
