<h1 mat-dialog-title>Favourites</h1>
<hr/>
<div mat-dialog-content>
  <div class="col-md-12">
    <mat-form-field class="col-md-3" appearance="outline">
      <mat-label for="key"> Key </mat-label>
      <input
        matInput
        name="key"
        id="key"
        [(ngModel)]="header_key"
        #headerkey
        (keyup)="onHeadersKey($event)"
        [matAutocomplete]="headerskeyauto">
      <mat-autocomplete #headerskeyauto="matAutocomplete">
        <mat-option *ngFor="let option of filterOptionsForHeaderKey" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field class="col-md-7" appearance="outline">
      <mat-label for="value"> Value </mat-label>
      <input
        matInput
        name="value"
        id="value"
        [(ngModel)]="header_value"
        #headervalue
        (keyup)="onHeadersValue($event)"
        [matAutocomplete]="headersvalueauto">
      <mat-autocomplete #headersvalueauto="matAutocomplete">
        <mat-option *ngFor="let option of filterOptionsForHeaderValue" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button mat-raised-button color="warn" class="col-md-1" (click)="onAdd()" > Add</button>
  </div>
  <div class="col-md-12">
    <ul *ngIf="this.APIservice.favHeaders.length > 0">
      <li style="background-color: #f6f6f6">
        <span style="width: 20%"> SELECT </span>
        <span style="width: 35%"> KEY </span>
        <span style="width: 65%"> VALUE </span>
      </li>
      <li *ngFor="let header of this.APIservice.favHeaders; let i = index">
        <span style="width: 20%"><mat-checkbox color="primary" (click)="onSelect(i)"></mat-checkbox></span>
        <span style="width: 35%"> {{header.key}} </span>
        <span style="width: 65%"> {{header.value}} </span>
      </li>
    </ul>
  </div>
</div>
<hr/>
<div mat-dialog-actions>
  <button
    mat-button
    color="warn">Cancel</button>
  <button
    mat-button
    cdkFocusInitial
    color="primary"
    [mat-dialog-close]="filtered_headers"
    (click)="onOk()">Ok</button>
</div>
